.cont{
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
    width: 1300px;
    height: 870px;
}

.post_left_side{
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    width: 420px;
    height: 657px;
}
.upload_img_cont{
    width: 420px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid  #E2E2E2;
    background: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_img_content{
    /* background: #0222; */
        width: 200px;
        height: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.upload_img_ico{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
}
.upload_img_p1{
    color:  #333;
    text-align: center;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   

.upload_img_format{
    color: var(--1, #626262);
text-align: center;
font-family: Involve;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-top: 5px;
}

.upload_img_size{
    margin-top: 10px;
    width: 160px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.5px solid  #626262;
    background: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #333;
    text-align: center;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.media_btn_cont{
    width: 420px;
    height: 224px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media_btn_container{
    height: 175px;
    width: 325px;
    background: #0202;
}
.media_title{
    color: #333;
    font-family: Involve;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.media_first_line{
    height: 60px;
    width: 324px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.media_1{
    background-size: cover; /* Покроет весь блок картинкой */
    background-position: center; /* Центрирование картинки */
    background-repeat: no-repeat; /* Запрет повторения картинки */
    width: 152px;
    height: 60px;
}
.edit_media_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    display: flex;
    width: 420px;
    height: 50px;
    padding: 14px 108px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background:  #333;
}
.edit_media_btn_p{
    color: #FFF;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-wrap: nowrap;
}
.edit_media_img{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.uploaded_img {
    border-radius: 5%;
    max-width: 95%;
    max-height: 95%;
    display: block;
    object-fit: cover;
  }
  

.right_side_post{
    width: 860px;
    height: 657px;

    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    
}

.namePost_input{
    width: 860px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #2272D4;
    background: #FFF;
    color:  #6A6A6A;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 30px;

}
.second_line_right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.Unify{
    border: none;
    display: flex;
    width: 420px;
    height: 50px;
    padding: 14px 108px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    text-wrap: nowrap;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.5px solid #626262;
    background: #FFF;
    color: #333;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.chose_site{
    border: none;
    width: 420px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.5px solid  #626262;
    background:  #FFF;
    color: #333;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: start;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.right_third_line{
    width: 100%;
    margin-top: 8px;
}
.autor_post{
    width: 860px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.5px solid #626262;
    background: #FFF;
    padding-left: 30px;

    color: #6A6A6A;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hashtag{
    margin-top: 8px;
    width: 860px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.5px solid #626262;
    padding-left: 30px;
    background: #FFF;

    color:  #6A6A6A;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radioGroup {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 20px;
    margin-top: 21px;
    width: 100%;

    color: var(--1, #626262);
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .radioButton {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
  }
  
  .radioButton input[type='radio'] {
    display: none;
  }
  
  .customRadio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid #333;
    margin-right: 10px;
    position: relative;
    fill: #FFF
  }
  
  .radioButton input[type='radio']:checked + .customRadio {
    border-color: #333;
  }
  
  .radioButton input[type='radio']:checked + .customRadio::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00ff00; /* Зелёный цвет */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sourse{
    margin-top: 37px;
    padding-left: 30px;
    color:  #6A6A6A;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 860px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.5px solid #626262;
    background: #FFF;
  }